.reviews h5{
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #2C2C77;

}

.hear h4{
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    color: #2C2C77;
}

.hear-style a{
    text-decoration: none;
    color:#2C2C77;
}

.down .highlight {
    color: #6CCBFC;
}

.bkr{
    background-image: url(./resources/image-1.webp);
}

.crd-spacing{
    padding: 16px;
}

.crd {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.09);
    border-radius: 19px;
}
video{
    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
}

.reviews {
    background-image: url(./resources/st-review-hero-img.webp);
    background-repeat: no-repeat;
}

.users{
    background-image: url(./resources/Rectangle-648.webp);
}

/* Last section */

.down h1 {
    color: #FFFFFF;
}

.down a {
    color: #FFFFFF;
}

.down {
    padding: 6% 0;
    background: #2C2C77;
    mix-blend-mode: multiply;
    background-image: url(./resources/investing-online-male-hand-monitoring-stock-exchange-data-smartphone-using-investment-app-analyzing-.webp);
}

p.p-alter{
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    color: #2C2C77;
}

p.cr-alt{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 180%;    
    letter-spacing: 0.2px;
    color: #414141;

}

p.desc{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #666666;
}

.down .st-overlay {
    background: #2C2C77;
    mix-blend-mode: multiply;
}

/* Media queries */

@media (max-width: 575.98px) {
    .cm-sec {
        padding: 16% 0;
    }
}

@media (min-width: 768px) {
    .reviews .crd-spacing{
        min-height: 377px !important;
    }
}
